PORT=8000

CORS_ORIGIN=http://localhost:3000

MONGODB_URI=mongodb-atlas-or-local-uri

ACCESS_TOKEN_SECRET=your-access-token-secret
ACCESS_TOKEN_EXPIRY=1d

REFRESH_TOKEN_SECRET=your-refresh-token-secret
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=clodinary-cloud-name
CLOUDINARY_API_KEY=clodinary-api-key
CLOUDINARY_API_SECRET=clodinary-api-secret

